@charset "utf-8";

/* global */
* {margin:0;padding:0;box-sizing:border-box;}
.tpl02 {
	width:100%;
	height:100%;
	position:relative;
	font-family:"Microsoft Yahei", Arial, sans-serif;
	background:#0a1631 url("../../../../assets/images/tpl2/bg.png") ;
	overflow:hidden;
}

/* layout */
.header02 {
	position:relative;
	height:72px;
	background:url("../../../../assets/images/tpl2/header.png") 0 0 / 100% 100% no-repeat;
	overflow:hidden;
}
.header-title {line-height:64px;text-align:center;font-size:32px;font-weight:400;color:#fff;}
.header-date {position:absolute;top:32px;font-size:18px;color:#73aae5;right:20px;}
.footer02 {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:24px;
	background:url("../../../../assets/images/tpl2/footer.png") 0 0 / 100% 100% ;
}