@charset "utf-8";

/* global */
* {margin:0;padding:0;box-sizing:border-box;}
.tpl04 {
	width:100%;
	height:100%;
	position:relative;
	font-family:"Microsoft Yahei", Arial, sans-serif;
	background:#0b0f34;
	overflow-x:hidden;
	overflow-y:auto;
}

/* layout */
.header04 {
	position:relative;
	height:72px;
	box-sizing:border-box;
	overflow:hidden;
}
.header-title {
	margin:0;
	padding:0;
	line-height:64px;
	text-align:center;
	font-size:32px;
	font-weight:400;
	color:#e9c29d;
}
.header-date {position:absolute;top:32px;font-size:18px;color:#73aae5;right:20px;}